body{
    /* height: 100%; */
    background-image:linear-gradient(15deg,#a93b62,#eae1df);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html {
    height: 100%;
}

h2{
  /* margin: 0 363px 37.5px 0; */
  font-family: MenoBanner;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-align: left;
  color: #a8dcd9;
  margin-left: 65px;
  margin-top: 5px;
}
.main{
    display: grid;
    background-attachment: fixed;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: "navContainer optionsCase";
}

.principle{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "navbar" "phoneMock" "caseStudy";
}

.caseStudy{
  margin-left: 20px;
  margin-right: 50px;

}

.navContainer{
  width: 126px;
  border-radius: 60px;
  height: 687px;
  margin: 96px;
  /* padding: 67px 26.2px 107.3px 35px; */
  background-color: #917c78;
  display: grid;
  grid-area: navContainer;
}

.nav.flex-column{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.optionsCase{
  display: grid; 
  grid-area: optionsCase;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 100%;
}

.imageCardAlpha{
    width: 107px;
  height: 107px;
  /* margin: 19px 19px 409px 113px; */
  margin-bottom: 100px;
}

.imageCardBeta{
    width: 107px;
  height: 107px;
  margin-bottom: 100px;
  /* margin: 19px 19px 409px 113px; */
}

.imageCardGamma{
    width: 107px;
  height: 107px;
  /* margin: 19px 19px 409px 113px; */
}

.card-img-overlay-alpha{
    width: 378px;
    height: 244px;
    margin: 69px 113px 222px 252px;
    padding: 79px 41px 79px 42px;
    background-color: #ffffff;
    display: none;
}

.card-img-overlay-beta{
    width: 378px;
    height: 244px;
    margin: 69px 113px 222px 252px;
    padding: 79px 41px 79px 42px;
    background-color: #ffffff;
    display: none;
}

.card-img-overlay-gamma{
    width: 378px;
    height: 244px;
    margin: 69px 113px 222px 252px;
    padding: 79px 41px 79px 42px;
    background-color: #ffffff;
    display: none;
}
/* WDP Case Study CSS */
.breadCrumb{
    width: 920px;
  height: 50px;
  margin: 25px 33px 68px 37px;
  padding: 4px 22px 4px 23px;
  border-radius: 25px;
  border: solid 1px #707070;
  background-color: #f2f2f2;
}

.breadNAV{
    width: 116px;
  height: 21px;
  font-family: MenoBanner;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #917c78;
  vertical-align: center;
}

.phoneMock{
    width: 166px;
    height: 290px;
    /* margin: 99px 34px 1321px 113px; */
    padding: 81px 21px 80px 22px;
    border: solid 1px #707070;
    background-color: #f2f2f2;
  
}

.caption{
    width: 123px;
  height: 129px;
  font-family: MenoBanner;
  font-size: 36px;
  text-align: center;
  color: #707070;
}

.caseTitle{
    width: 644px;
  height: auto;
  border: solid 1px #707070;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0px 0px;

}

.csTitle{
  font-family: MenoBanner;
  font-size: 25px;
  text-align: left;
  color: #917c78;
  margin-left: 45px;
  margin-top: 10px
}

.csWords{
  font-family: MenoBanner;
  font-size: 15px;
  text-align: left;
  color:#095256;
  margin-left: 65px;
  margin-top: 5px;
}

.caseContent{
  width: 644px;
  height: auto;
  background-color: #f2f2f2;
  align-items: center;
  margin-bottom: 25px;
/* border-radius: 0px 0px 25px 25px; */

}

.sectionTitle{
  height: 40px;
  font-family: MenoBanner;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #917c78;
  margin-left: 45px;
}

.wordsContainer{
  width: 538px;
  height: auto;
  /* margin: 25px 0 0; */
  padding: 51px 44px 34px 49px;
  border: solid 1px #707070;
  align-self: center;
}